<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="es">
<link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>
<body>


	<div class="container">
		<div th:fragment="header">

			<!-- fixed navbar -->
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" style="padding:5px;" href="#" th:href="@{/}">
							<img alt="Inicio" th:src="@{../images/logo.png}" />
						</a>
					</div>

					<div id="navbar" class="navbar-collapse collapse"
						aria-expanded="false" style="height: 1px;">
						<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
							<li th:class="${activeTab == 'inicio'}? 'active' : null"><a
								href="#" th:href="@{/}">Inicio</a></li>
							<li th:class="${activeTab == 'facturas'}? 'active' : null"><a
								href="#" th:href="@{/facturas/1}">Facturas</a></li>
							<li th:class="${activeTab == 'formfactura'}? 'active' : null"><a
								href="#" th:href="@{/factura/ingresar}"
								sec:authorize="hasRole('ROLE_ADMIN')">Ingresar Factura</a></li>
							<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Listados<span
									class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/bultos}">Bultos</a></li>
									<li><a href="#" th:href="@{/buques}">Buques</a></li>
									<li><a href="#" th:href="@{/clientes}">Clientes</a></li>
									<li><a href="#" th:href="@{/destinos}">Destinos</a></li>
								</ul>
							</li>
							<li th:class="${activeTab == 'usuarios'}? 'active' : null"><a
								href="#" th:href="@{/usuarios}"
								sec:authorize="hasRole('ROLE_ADMIN')">Usuarios</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" th:href="@{/login}"
								sec:authorize="!isAuthenticated()">Ingresar</a></li>
							<li>
								<!-- a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Cerrar Sesión</a-->
								<form class="navbar-form navbar-right" th:action="@{/logout}"
									method="POST">
									<button type="submit" class="btn btn-danger"
										sec:authorize="isAuthenticated()">Cerrar sesión</button>
								</form>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</nav>

		</div>
	</div>

</body>
</html>