<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Spring Framework Guru</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <button th:if="${modo} == alta" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalCargar">
			<span class="glyphicon glyphicon-file" aria-hidden="true"></span>Cargar factura</button>

		<!-- Modal -->
		<div id="modalCargar" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Cargar factura desde archivo</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" th:object="${factura}"
							th:action="@{/factura}" method="post">
							
							<div class="row">
								<button type="submit" class="btn btn-success">Confirmar</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>


	<div class="col-sm-12">
        <form class="form-horizontal" th:object="${factura}" th:action="@{/factura}" method="post">
   
            <input type="hidden" th:field="*{id}"/>
           
           <div class="row">
           	<!-- PRIMERA COLUMNA -->
	            <div class="col-md-6">
		            <div class="form-group">
					 	<label class="col-sm-3 control-label" id="factura">Nro Factura</label>
					 	<div class="col-sm-9">
							<input type="text" class="form-control" th:field="*{facturaNro}"/>
						</div>
						<p th:each="error : ${#fields.errors('facturaNro')}" th:errors="*{facturaNro}" style="color: #f00;">Validation error</p>
					</div>
					<div class="form-group">
		                <label class="col-sm-3 control-label">Fecha:</label>
		                <div class="col-sm-9">
		               		<input type="date" class="form-control" th:field="*{fecha}"/>
		                </div>
		                <div th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" style="color: #f00;">Fecha Error</div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-3 control-label">Operación:</label>
		                <div class="col-sm-9">
			                <select class="form-control" id="selOperacion" th:field="*{operacion.codigo}">
			                	<option th:value="-1">Selecciona una opcion</option>
							    <option th:each="op :${operaciones}" th:value="${op.codigo}" th:text="${op.operacion}">operacion</option>
						  	</select>
					  	</div>
		            </div>
					<div class="form-group">
					  	<label class="col-sm-3 control-label" for="selCliente">Cliente:</label>
					  	<div class="col-sm-9">
						  <select class="form-control" id="selCliente" th:field="*{cliente.idcliente}">
						  	<option th:value="-1">Selecciona una opcion</option>
						    <option th:each="cli :${clientes}" th:value="${cli.idcliente}" th:text="${cli.exportador}">cliente</option>
						  </select>
						</div>	  
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="selCliente">Comp/Vend:</label>
						<div class="col-sm-9">
						  <select class="form-control" id="selCompVend" th:field="*{compvend.idcompvend}">
						  	<option th:value="-1">Selecciona una opcion</option>
						    <option th:each="cv :${compvends}" th:value="${cv.idcompvend}" th:text="${cv.cliente}">cliente</option>
						  </select>
						</div>
					</div>
				</div>
			
			<!-- SEGUNDA COLUMNA -->
				<div class="col-md-6">
		            <div class="form-group">
					 	<label class="control-label" id="mercaderia">Mercaderia</label>
						<input type="text" class="form-control" th:field="*{facturaNro}"/>
						<div th:if="${#fields.hasErrors('facturaNro')}" th:errors="*{facturaNro}" style="color: #f00;">Factura Error</div>
					</div>
					<div class="form-group">
		                <label class="control-label">Valor FOB:</label>
		                <input type="date" class="form-control" th:field="*{fecha}"/>
		                <div th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" style="color: #f00;">Fecha Error</div>
		            </div>
		            <div class="form-group">
		                <label class="control-label">Marcas:</label>
		                <select class="form-control" id="selMarcas" th:field="*{operacion.codigo}">
		                	<option th:value="-1">Selecciona una opcion</option>
						    <option th:each="op :${operaciones}" th:value="${op.codigo}" th:text="${op.operacion}">operacion</option>
						  </select>
		            </div>
					<div class="form-group">
					  <label for="selCliente">Bultos:</label>
					  <input type="number" class="form-control" th:field="*{fecha}"/>
		                <div th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" style="color: #f00;">Fecha Error</div>
					</div>
					<div class="form-group">
					  <label for="selCliente">Tipo bulto:</label>
					  <select class="form-control" id="selBultos" th:field="*{compvend.idcompvend}">
					  	<option th:value="-1">Selecciona una opcion</option>
					    <option th:each="cv :${compvends}" th:value="${cv.idcompvend}" th:text="${cv.cliente}">cliente</option>
					  </select>
					</div>
				</div>
			</div>
			
            <div class="text-center row">
                <button th:if="${modo} == alta" type="submit" class="btn btn-success btn-lg">Confirmar</button>
                <button th:if="${modo} == edicion" type="submit" class="btn btn-success btn-lg">Grabar</button>
                <br/>
                <div th:if="${resultado == 1}" class="alert alert-success" role="alert" th:text="${resMsj}"></div>
                <div th:if="${resultado == 0}" class="alert alert-danger" role="alert" th:text="${resMsj}"></div>
            </div>
        </form>

    </div>
</div>

</body>
</html>