<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="es">

<title>Usuarios del sistema</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div id="content" class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<!-- Modal -->
		<div id="modalHolder">
			<div id="modalCrear" class="modal fade" role="dialog"
				th:fragment="modalEdit">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Crear usuario</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" th:object="${usuario}"
								th:action="@{/usuario}" method="post">
								<div class="form-group">
									<label class="col-sm-3 control-label">Username:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="*{username}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Password:</label>
									<div class="col-sm-9">
										<input type="password" class="form-control"
											th:field="*{password}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Email:</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="*{email}" />
									</div>
								</div>
								<input type="hidden" th:field="*{enable}" />
								<div class="btn-group">
									<button type="submit" class="btn btn-success">Confirmar</button>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cerrar</button>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<h2 class="text-center">Usuarios del sistema</h2>

			<table class="table table-striped">
				<tr>
					<th>Username</th>
					<th>Email</th>
					<!-- th>Habilitado</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th> -->
					<th sec:authorize="hasRole('ROLE_ADMIN')">Accion</th>
				</tr>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.username}">Username</td>
					<td th:text="${usuario.email}">Email</td>
					<!-- td th:text="${usuario.enable}">Enable</td> -->
					<!-- td sec:authorize="hasRole('ROLE_ADMIN')">
					<button th:onclick="'javascript:editUser(\'' + ${usuario.username} + '\')'">Editar</button>
				</td> -->
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<button
							th:onclick="'javascript:deleteUser(\'' + ${usuario.username} + '\')'">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</table>

			<div id="msjBtn" class="text-center row">

				<button type="button" class="btn btn-success btn-lg"
					data-toggle="modal" data-target="#modalCrear">Crear
					usuario</button>

				<div id="msjExito" th:if="${resultado == 1 || resultado != null}"
					class="alert alert-success" role="alert" th:text="${resMsj}"></div>
				<div id="msjError" th:if="${resultado == 0}"
					class="alert alert-danger" role="alert" th:text="${resMsj}"></div>
			</div>
		</div>
	</div>

	<script>
		/*<![CDATA[*/
		function deleteUser(username) {
			var r = confirm("Se va a eliminar el usuario " + username);

			if (r == true) {
				$.ajax({
					type : "GET",
					url : "/usuario/delete/" + username,
					success : function(data) {
						$("#content").html(data);
					},
					error : function(data) {
						$("#content").html(data);
					}
				});
			}
		}
		function editUser(username) {
			$.ajax({
				type : "GET",
				url : "/usuario/" + username,
				success : function(data) {
					$("#modalHolder").html(data);
					$("#modalCrear").modal("show");
				}
			});
		}
		/*]]>*/
	</script>

</body>
</html>